<div id='navbar-content'>
    <nav class='navbar navbar-expand-sm navbar-light bg-light fixed-top'>
        <a class='navbar-brand' href='./index.php'>OURepository</a>

        <button class='navbar-toggler' type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation'>
            <span class='navbar-toggler-icon'></span>
        </button>

        <div class='collapse navbar-collapse' id='navbarSupportedContent'>
            <ul class='navbar-nav mr-auto'>
            </ul>

            <form id='signin-form' class='form-inline my-2 my-lg-0'>
                <div class='btn g-signin2' data-onsuccess='onSignIn'></div>
            </form>
        </div>
    </nav>
</div>

