<div label_id='{{label_id}}' line_id='{{line_id}}' class="line-mark" style='width:100%; {{^visible}}display:none{{/visible}}'>
    <table class='table table-bordered table-condensed' style='margin:0 5 0 0; font-size:75%;'>
        <tbody class='pixel-pair' vy='{{y1}}' vx='{{x1}}'>
            <tr>
                <td style='width:35%;'>Y1</td>
                <td line_id='{{line_id}}' class='pixel-y' style='text-align:right;'>{{y1}}</td>
            </tr>
            <tr>
                <td style='width:35%;'>X1</td>
                <td line_id='{{line_id}}' class='pixel-x' style='text-align:right;'>{{x1}}</td>
            </tr>
        </tbody>
        <tbody class='pixel-pair' vy='{{y2}}' vx='{{x2}}'>
            <tr>
                <td style='width:35%;'>Y2</td>
                <td line_id='{{line_id}}' class='pixel-y' style='text-align:right;'>{{y2}}</td>
            </tr>
            <tr>
                <td style='width:35%;'>X2</td>
                <td line_id='{{line_id}}' class='pixel-x' style='text-align:right;'>{{x2}}</td>
            </tr>
        </tbody>
    </table>

    <div class="btn-group btn-block" style='margin-bottom:5px; width:100%;'>
        <button type='button' line_id='{{line_id}}' class='btn btn-small btn-outline-secondary highlight-line-button' style='width:50%;'>Highlight</button>
        <button type='button' line_id='{{line_id}}' class='btn btn-small btn-outline-secondary remove-line-button' style='width:50%;'>Remove</button>
    </div>
</div>
