<div class='col-xl-3 col-lg-3 col-md-4 col-sm-6 mosaic-card' mosaic_id={{id}} data-sort='{{filename}}' style='padding:0px 5px 10px 5px;'>
    <div class="card {{#shared}}border-success{{/shared}} {{#sharing}}border-primary{{/sharing}}" id="finished-mosaic-card-{{identifier}}">
        <div class='picture' identifier='{{identifier}}'>
            <img class="card-img-top" src="request.php?request=IMAGE&id_token={{id_token}}&mosaic_id={{id}}&file=/mosaics/{{owner_id}}/{{thumbnail}}" alt="Thumbnail of {{filename}}">
        </div>
        <div class="card-body">
            <div class="card-title" style='vertical-align: middle;'>
                <a class='mosaic-href' mosaic_id={{id}} href="./mosaic.php?mosaic_id={{id}}"><b>{{filename}}</b></a>
            </div>
            <hr>
            <p class="card-text">
            <b>Size:</b> {{size_kb}} Kb <br>
            <b>Resolution:</b> {{width}} x {{height}} <br>
            <b>Channels:</b> {{channels}}

            {{#geotiff}}
            <table class="table table-condensed geo-table" style="font-size: 60%; margin:16 0 0 0; vertical-align: middle; display:none">
                <thead>
                    <th scope='col'><b>Geo</b></th>
                    <th scope='col'>Latitude</th>
                    <th scope='col'>Longitude</th>
                </thead>
                <tbody>
                    <tr>
                        <th scope='row'>Center</th>
                        <td>{{lat_center}}</td>
                        <td>{{lon_center}}</td>
                    </tr>
                    <tr>
                        <th scope='row'>Upper Left</th>
                        <td>{{lat_upper_left}}</td>
                        <td>{{lon_upper_left}}</td>
                    </tr>
                    <tr>
                        <th scope='row'>Upper Right</th>
                        <td>{{lat_upper_right}}</td>
                        <td>{{lon_upper_right}}</td>
                    </tr>
                    <tr>
                        <th scope='row'>Lower Left</th>
                        <td>{{lat_lower_left}}</td>
                        <td>{{lon_lower_left}}</td>
                    </tr>
                    <tr>
                        <th scope='row'>Lower Right</th>
                        <td>{{lat_lower_right}}</td>
                        <td>{{lon_lower_right}}</td>
                    </tr>
                </tbody>
            </table>

            <table class="table table-condensed utm-table" style="font-size: 60%; margin:16 0 0 0; vertical-align: middle; display:none">
                <thead>
                    <th scope='col'><b>UTM</b></th>
                    <th scope='col'>Easting</th>
                    <th scope='col'>Northing</th>
                </thead>
                <tbody>
                    <tr>
                        <th scope='row'>Center</th>
                        <td>{{utm_e_center}}</td>
                        <td>{{utm_n_center}}</td>
                    </tr>
                    <tr>
                        <th scope='row'>Upper Left</th>
                        <td>{{utm_e_upper_left}}</td>
                        <td>{{utm_n_upper_left}}</td>
                    </tr>
                    <tr>
                        <th scope='row'>Upper Right</th>
                        <td>{{utm_e_upper_right}}</td>
                        <td>{{utm_n_upper_right}}</td>
                    </tr>
                    <tr>
                        <th scope='row'>Lower Left</th>
                        <td>{{utm_e_lower_left}}</td>
                        <td>{{utm_n_lower_left}}</td>
                    </tr>
                    <tr>
                        <th scope='row'>Lower Right</th>
                        <td>{{utm_e_lower_right}}</td>
                        <td>{{utm_n_lower_right}}</td>
                    </tr>
                </tbody>
            </table>
            {{/geotiff}}

            <div class='sharing-info' mosaic_id='{{id}}' style='display:none'>
                {{#sharing}}
                <p>You have shared these mosaics with:</p>
                <table mosaic_id='{{id}}' class="share-table table table-condensed" style="font-size:60%; margin:16 0 0 0; vertical-align: middle;">
                {{#shared_with}}
                    <tr id="share-row-{{id}}-{{user_id}}" user_id={{user_id}}>
                        <td name={{name}}>{{name}}</td>
                        <td email={{email}}>{{email}}</td>
                    </tr>
                {{/shared_with}}
                </table>
                {{/sharing}}

                {{#shared_by}}
                <p style="font-size:60%">{{name}} ({{email}}) shared this mosaic with you.</p>
                {{/shared_by}}
            </div>

            </p>
        </div>
    </div>

    <!-- The Modal -->
    <div id="preview-modal-{{identifier}}" class="preview-modal" identifier={{identifier}}>

        <!-- The Close Button -->
        <span class="close-preview" identifier="{{identifier}}">&times;</span>

        <!-- Modal Content (The Image) -->
        <img class="preview-modal-content" src="request.php?request=IMAGE&id_token={{id_token}}&mosaic_id={{id}}&file=/mosaics/{{owner_id}}/{{preview}}" alt="Preview of {{filename}}">

        <!-- Modal Caption (Image Text) -->
        <div id="caption">{{filename}}</div>
    </div>
</div> <!-- col -->

