<div class='container-fluid'>
    <div class='row'>
        <div class='col-sm-2' style='padding:0 5 0 5;'>

            <div id='labels-card' class='card bg-light' {{^has_labels}}style='display:none'{{/has_labels}}>
                <h5 style='padding: 5 5 5 5; margin: 0 0 0 0;'>View Labels</h5>
                <div class="list-group" style='overflow-y: auto; min-height: calc(50vh - 226px); max-height: calc(50vh - 226px);'>
                    {{#labels}}
                    <a href="javascript:void(0);" label_id='{{label_id}}' label_type='{{label_type}}' label_name='{{label_name}}' label_color='{{label_color}}' class="label-list-item list-group-item list-group-item-action" style="margin: 0 0 0 0;" >{{label_name}}</a>
                    {{/labels}}
                </div>
            </div>

            <div class='card bg-light' style='margin:10 0 10 0;'>
                <h5 style='padding:5 5 5 5; margin: 0 0 0 0'>Mark Label</h5>
                <div class="form-group" style='margin:0 0 5 0;'>
                    <select class="form-control" id="mark-label-select">
                        <option label_id='-1'>None Selected</option>
                        {{#labels}}
                        <option label_id='{{label_id}}' label_type='{{label_type}}' label_name='{{label_name}}' label_color='{{label_color}}'>{{label_name}}</option>
                        {{/labels}}
                    </select>
                </div>

                <div id='polygon-marking' style='display:none;'>
                    <button type='button' class='btn btn-block btn-outline-primary' id='draw-polygon-button' data-toggle='button' aria-pressed='false' autocomplete='off'>Draw Polygon</button>
                    <button type='button' class='btn btn-block btn-outline-secondary cancel-drawing-button'>Cancel</button>
                </div>

                <div id='lines-marking' style='display:none;'>
                    <button type='button' class='btn btn-block btn-outline-primary' id='draw-lines-button' data-toggle='button' aria-pressed='false' autocomplete='off'>Draw Lines</button>
                    <button type='button' class='btn btn-block btn-outline-secondary cancel-drawing-button'>Cancel</button>
                </div>

                <div id='points-marking' style='display:none;'>
                    <button type='button' class='btn btn-block btn-outline-primary' id='draw-points-button' data-toggle='button' aria-pressed='false' autocomplete='off'>Draw Points</button>
                    <button type='button' class='btn btn-block btn-outline-secondary cancel-drawing-button'>Cancel</button>
                </div>


            </div>

            <div id='marks-card' class='container bg-light' style='overflow-y: auto; min-height: calc(65vh - 226px); max-height: calc(65vh - 226px); padding:0 0 0 0'>
                {{#points}}
                {{{html}}}
                {{/points}}

                {{#lines}}
                {{{html}}}
                {{/lines}}

                {{#polygons}}
                {{{html}}}
                {{/polygons}}
            </div>

            <div style='position: absolute; bottom: 5; left: 5; width:100%; padding-right:11px;'>
                <table class='table table-bordered table-condensed' style='margin:0 5 0 0; font-size:75%;'>
                    <tbody>
                        <tr class='table-pixel'>
                            <td style='width:35%;'>Y</td>
                            <td id='pixel-y' style='text-align:right;'></td>
                        </tr>
                        <tr class='table-pixel'>
                            <td style='width:35%;'>X</td>
                            <td id='pixel-x' style='text-align:right;'></td>
                        </tr>

                        <tr class='table-geo' style='display:none;'>
                            <td style='width:35%;'>Lat</td>
                            <td id='geo-y' style='text-align:right;'></td>
                        </tr>
                        <tr class='table-geo' style='display:none;'>
                            <td style='width:35%;'>Lon</td>
                            <td id='geo-x' style='text-align:right;'></td>
                        </tr>

                        <tr class='table-utm' style='display:none;'>
                            <td style='width:35%;'>UTM N</td>
                            <td id='utm-n' style='text-align:right;'></td>
                        </tr>
                        <tr class='table-utm' style='display:none;'>
                            <td style='width:35%;'>UTM E</td>
                            <td id='utm-e' style='text-align:right;'></td>
                        </tr>
                    </tbody>

                </table>
            </div>

        </div>

        <div class='col-sm-10' style='padding: 0 0 0 0;'>
            <div id='map'></div>
        </div>
    </div>
</div>

