<div class='container-fluid'>
    <div class='row'>
        <div class='col-sm-2'>

            <button type='button' class='btn btn-block btn-outline-secondary' id='points-button'>Toggle Points</button>
            <button type='button' class='btn btn-block btn-outline-secondary' id='lines-button'>Toggle Lines</button>
            <button type='button' class='btn btn-block btn-outline-secondary' id='polygons-button'>Toggle Polygons</button>

            <button type='button' class='btn btn-block btn-outline-primary' id='draw-lines-button' data-toggle='button' aria-pressed='false' autocomplete='off'>Draw Lines</button>
            <button type='button' class='btn btn-block btn-outline-primary' id='draw-points-button' data-toggle='button' aria-pressed='false' autocomplete='off'>Draw Points</button>
            <button type='button' class='btn btn-block btn-outline-primary' id='draw-polygon-button' data-toggle='button' aria-pressed='false' autocomplete='off'>Draw Polygon</button>

            <ul class='list-group'>
                <li class='list-group-item' id='web-point'>Web:</li>
                <li class='list-group-item' id='viewport-point'>Viewport:</li>
                <li class='list-group-item' id='image-point'>Image:</li>
            </ul>
        </div>

        <div class='col-sm-10'>
            <div id='map'></div>
        </div>
    </div>
</div>

