.idea/
*.pyc

# DB
connect_xcel_db.sh
db_info.php
www/mosaics
www/mosaic_uploads
www/vendor

# AI
AI/original-data/

AI/annotations/*
AI/images/*

AI/pre-trained-models/
AI/models/
AI/exported-models/
AI/inferences/

AI/test/test/*
