.idea/
*.pyc

# DB
connect_xcel_db.sh
db_info.php

# AI
AI/original-data/

AI/images/train/
AI/images/test/
AI/images/*.png
AI/images/*.xml
AI/annotations/*.record

AI/*.zip
AI/pre-trained-models/
AI/models/
AI/exported-models/

