.idea/
*.pyc

# DB
connect_xcel_db.sh
db_info.php

# AI
AI/original-data/


AI/annotations/*
AI/images/*

AI/*.zip
AI/pre-trained-models/
AI/models/
AI/exported-models/

AI/test/test.*
AI/test/test/*

